.header-main-menu
{
  .ul_sub_menu
  {
    .btn-group.open .dropdown-toggle
    {
      box-shadow:none;
    }

  }
  .nav-tabs
  {
    background: #f3f4f6;
    margin-bottom: 0;
    li a
    {
      color: #007799;
    }
    >li:first-child a
    {
      padding-left:0px;
    }
  }
  .tab-content
  {
    background: -moz-linear-gradient(top,  #ffffff 0%, #e7eaef 100%);
    background: -webkit-linear-gradient(top,  #ffffff 0%, #e7eaef 100%);
    background: linear-gradient(to bottom,  #ffffff 0%, #e7eaef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7eaef',GradientType=0 );
    min-height: 50px;
    margin-bottom: 0px;
    border-bottom: 1px solid #ccc;
    a{
      color: #666666;
      line-height: 25px;
      text-transform: capitalize;
      font-size: 15px;
    }
    a:hover{
      text-decoration: none;
    }
  }
}
.admin.com_tsmart {
  .container-main, #system-debug {
    padding-bottom: 0px;
  }
}
#admin-content.container-fluid
{
  padding-left: 0px;
  padding-right: 0px;
}
#admin-content
{
  background: #fff;
  padding-bottom: 100px;
}
.vm-title.row-fluid
{
  background: #fff;
  padding: 0;
  margin-top:0px ;
}
.vm_toolbar
{
  .container-fluid
  {
    padding: 0px;
  }
  .subhead-collapse
  {
    margin: 0;
    display: block !important;
  }
  padding: 14px 23px 0px 23px;
  button
  {
    font-size: 14px;
    padding: 5px 14px;

  }
  #toolbar
  {
    margin: 0;
    text-align: right;
  }
  .subhead
  {
    border: none;
    margin: 0;
    background: none;
  }
  .subhead .container-fluid .row-fluid
  {
    padding: 0;
  }
  .toolbar-pagination
  {

  }
}
#status
{
  display: none;
}
#adminForm
{
  background: #fff;
  margin-left: 23px;
  margin-right: 23px;
  .table-bordered
  {
    border-radius: 0;
  }
  .table-bordered th
  {
    border-bottom: 1px solid #dddddd;
    text-transform: capitalize;
  }
  .table-bordered td
  {
    border-top:none;
  }
  .select-button-toggle
  {
    margin: 0;
  }
}
#admin-content {
  > .vm-title > .content-vm-title, > .header-main-menu > .content-header-main-menu, > .toolbar-top2 >.content-toolbar-top2, > .toolbar-top3 >.content-toolbar-top3, > .toolbar-top5 >.content-toolbar-top5 {

    padding-left: 23px;
    padding-right: 23px;
  }
  > .header-main-menu > .content-header-main-menu
  {
    .nav-header-main-menu
    {
      margin-left: -23px;
      margin-right: -23px;
      padding: 0 23px;
    }
    .tab-content-header-main-menu
    {
      margin-left: -23px;
      margin-right: -23px;
      padding: 0 23px;
    }
  }
}
.toolbar-top2
{
  background: #fff;
}
.toolbar-top3
{
  margin-bottom: 0 !important;
  border-bottom: 2px solid #ccc;
}
.toolbar-top5
{

}

#vm-iframe
{
  border: none;
}
.vm-edit-form
{
  padding: 0;
}
.adminlist.table thead th a
{
  text-transform: uppercase;
  font-family: Arial;
  font-size: 11px;
}
#adminForm {
  .adminlist.table {
    tfoot {
      td:last-child {
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
      }
    }
  }
}
.vm-title .title_page
{
  background: #eff5fc none repeat scroll 0 0;
  border-left: 1px solid #4372a0;
  border-radius: 5px 5px 0 0;
  border-right: 1px solid #4372a0;
  border-top: 1px solid #4372a0;
  line-height: 38px;
  margin: 0 31px -1px 0;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
}
.vm-page-nav
{
  background: #f2f2f2;
  background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%,#ffffff 0%);
  background: -webkit-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%,#ffffff 0%);
  background: linear-gradient(to bottom,  #ffffff 0%, #f3f3f3 100%,#ffffff 0%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
  border: 1px #ccc solid;
  height: 45px;
  .table-pagination
  {
    padding: 5px;
    .list-footer
    {

    }
    .limit-box
    {
      .text-item-per-page
      {
        line-height: 25px;
      }
    }
  }
}
#adminForm
{
  .table-bordered
  {
    border-style:none;
  }
  .table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child
  {
    border-top-left-radius:0px;
  }
  .table-bordered thead:first-child tr:first-child > th:last-child, .table-bordered tbody:first-child tr:first-child > td:last-child, .table-bordered tbody:first-child tr:first-child > th:last-child
  {
    border-top-right-radius:0px;
  }
  .table-bordered th:last-child, .table-bordered td:last-child
  {
    border-right: 1px solid #dddddd;
  }
  .table-bordered tr:last-child td
  {
    border-bottom: 1px solid #dddddd;
  }
  .table-bordered thead:first-child tr:first-child > th:first-child,
  .table-bordered tbody:first-child tr:first-child > td:first-child,
  .table-bordered tbody:first-child tr:first-child > th:first-child {
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
  }

  .table-bordered thead:first-child tr:first-child > th:last-child,
  .table-bordered tbody:first-child tr:first-child > td:last-child,
  .table-bordered tbody:first-child tr:first-child > th:last-child {
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
  }

  .table-bordered thead:last-child tr:last-child > th:first-child,
  .table-bordered tbody:last-child tr:last-child > td:first-child,
  .table-bordered tbody:last-child tr:last-child > th:first-child,
  .table-bordered tfoot:last-child tr:last-child > td:first-child,
  .table-bordered tfoot:last-child tr:last-child > th:first-child {
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
  }
  .table-bordered thead:last-child tr:last-child > th:last-child, .table-bordered tbody:last-child tr:last-child > td:last-child, .table-bordered tbody:last-child tr:last-child > th:last-child, .table-bordered tfoot:last-child tr:last-child > td:last-child, .table-bordered tfoot:last-child tr:last-child > th:last-child
  {
    border-bottom-right-radius:0px;
  }

}
.form-tour-build {
  border: 1px solid #4372a0;
  padding: 15px;
  background: #eff5fc;
}
.list_tour_service_class
{
  height: 146px;
}
.ui-dialog.asian-dialog-form
{
  border: 2px #9eb2cc solid;
  border-radius: 0px;
  margin: 10px;
  padding: 2px;
  .ui-widget-header
  {
    background-image: none;
    background-color: #4a6c9c;
    border-radius: 0px;
    border: none;
    .ui-dialog-title
    {
      width: 10%;
      border-left: 1px solid #4372a0;
      border-radius: 5px 5px 0 0;
      border-right: 1px solid #4372a0;
      border-top: 1px solid #4372a0;
      line-height: 38px;
      margin: 0 31px -5px 50px;
      background: #e9edf1;
      color: #6c85ab;
      text-align: center;
      text-transform: uppercase;
      font-size: 13px;
    }
  }
}
.admin-content.logistic,.admin-content.setup_system
{
  .title_page
  {
    background:none;
    border: none;
    border-radius:0px;
    padding-top: 10px;
  }
}
.admin.com_tsmart {
  .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-size: small;
  }
}
#geo_manager
{
  padding-top: 5px;
  .row-fluid
  {
    padding: 5px 0px;
  }
}
.admin.com_tsmart {
  select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height: auto;
  }
}
body
{
  background: #eef3fa !important;
}
.modal
{
  position: relative;
}
@media screen and (max-width: 1366px) and (min-width: 520px) {
  .container-main.container-fluid {
    width: 100%;
    padding-left:0;
    padding-right:0;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1800px) and (min-width: 1367px) {
  .container-main.container-fluid {
    width: 80%;
    padding-left:0;
    padding-right:0;
    margin: 0 auto;
  }
}
.footer
{
  height: 150px;
  background: #012f51;
}

.pagination {
  margin: 20px 0;
}
.tsm_pagination {
  ul {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    margin-left: 0;
    *zoom: 1;
  }

  ul > li {
    display: inline;
  }

  ul > li > a,
  ul > li > span {
    float: left;
    padding: 8px 6px 2px 4px;
    line-height: 17px;
    text-decoration: none;
    color: #b6b6b6;
    [class^="icon-"],[class*=" icon-"]
    {
      font-size: 22px;
    }
  }
  ul > li > a[data-original-title="Start"],
  ul > li > a[data-original-title="Previous"],
  ul > li > a[data-original-title="Next"],
  ul > li > a[data-original-title="End"],
  ul > li.first > a,
  ul > li.previous > a,
  ul > li.next > a,
  ul > li.last > a
  {
    border: 1px solid #b6b6b6;
    border-radius: 20px;
    margin-right: 10px;
  }

  ul > li > a[data-original-title="Previous"], ul > li.previous > a
  {
    padding: 8px 10px 2px 1px;
  }

  ul > li > a[data-original-title="Next"],ul > li.next > a
  {
    padding: 8px 5px 2px;
  }
  ul > li > a:hover,
  ul > li > a:focus,
  ul > .active > a,
  ul > .active > span {

  }

  ul > .active > a,
  ul > .active > span {
    color: #999999;
    cursor: default;
  }

  ul > .disabled > span,
  ul > .disabled > a,
  ul > .disabled > a:hover,
  ul > .disabled > a:focus {
    color: #999999;
    cursor: default;
    background-color: transparent;
  }

  ul > li:first-child > a,
  ul > li:first-child > span {
  }

  ul > li:last-child > a,
  ul > li:last-child > span {
  }

}



