.view-departure-default {
  .adminlist {
    .select2-container--default .select2-selection--single {
      background: none;
      border: none;
    }
    .select2-container--open .select2-dropdown--below
    {
      border-top: 1px solid #aaa !important;
    }
  }
  .multi-calendar-allocation {
    margin: 0 auto;
  }
  .filter
  {
    .control-group
    {
      float: left;
      margin-left:10px ;
    }
    .btn_search
    {
      margin-left:10px ;
      button{
        padding: 20px;
      }
    }
  }
  .depature-information {
    margin-left: 23px;
    margin-right: 23px;
    background: #f5f5f5;
    border: 1px solid #999999;
    padding: 15px;
    .text-view {
      background: #fff !important;
    }
    fieldset {
      border: 1px solid #3399ff;
      border-radius: 0;
      padding: 5px;
      text-align: left;
      .control-group {
        margin: 5px 0px;
      }
    }
    >.title
    {
      background: #d3d3d3;
      margin: -15px -15px 60px;
      padding: 15px;
      text-align: center;
      text-transform: uppercase;
    }
  }
  .depature-information-seat-price {
    margin-top: 40px;
    margin-left: 23px;
    margin-right: 23px;
    background: #f5f5f5;
    border: 1px solid #999999;
    padding: 15px;
    .text-view {
      background: #fff !important;
    }
    fieldset {
      border: 1px solid #3399ff;
      border-radius: 0;
      padding: 5px;
      text-align: left;
      .control-group {
        margin: 5px 0px;
      }
    }
    >.title
    {
      background: #d3d3d3;
      margin: -15px -15px 60px;
      padding: 15px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
#status
{
  display: none;
}

.dialog-allocation-edit-form {
  input.number {
    width: 40px;
  }
  .form-departure td {
    padding: 2px;
  }

}
ul.myErrorClass, input.myErrorClass, textarea.myErrorClass, select.myErrorClass {
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #cc0000 !important;
  background-color: #f3d8d8 !important;
  background-image: url(http://goo.gl/GXVcmC) !important;
  background-position: 50% 50% !important;
  background-repeat: repeat !important;
}
ul.myErrorClass input {
  color: #666 !important;
}
label.myErrorClass {
  color: red;
  font-size: 11px;
  /*    font-style: italic;*/
  display: block;
}
#adminFormEdit
{
  #departure_name,#daterange_vail_period_from_to,#note {
    width: 285px;
  }
  #note{
    height: 110px;
    resize:none;
  }

}

