.buid-information {

  .text-view {
    background: #fff !important;
  }
  fieldset {
    border: 1px solid #3399ff;
    border-radius: 0;
    padding: 5px;
    text-align: left;
    .control-group {
      margin: 5px 0px;
    }
  }
}