.toolbar-top3,.toolbar-top2,.toolbar-top,.header-main-menu,#status,.toolbar-top5,.vm-title
{
  display: none !important;
}
.container-main
{
  width: 890px!important;
  textarea
  {
    width: 450px;
  }
}
.admin.com_virtuemart
{
  padding: 0;
  .virtuemart-admin-area fieldset
  {
    border: none;
  }
  .virtuemart-admin-area input, .virtuemart-admin-area textarea, .virtuemart-admin-area .uneditable-input
  {
    max-width: 450px;
  }

}
.editor iframe#description_ifr
{
  height: 250px !important;
}
#adminForm
{
  .input-small.hasTipImgpath
  {
    margin: 0;
    width: 100px;
  }
}