
.html_input_passenger
{
  input{
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    border: 1px solid #ccc;

  }
  input.date{
    background-image: url("http://jqueryui.com/resources/demos/datepicker/images/calendar.gif");
    background-repeat: no-repeat;
    background-position: 95% 7px;
    border: 1px solid #ccc;
  }
  .herder
  {
    display: none;
  }
  background: #f6f6f6;
  padding: 10px;
  .person-type
  {
    color: #b42730;
    .travel-icon
    {
      color: #b42730;
    }
  }

  .ui-state-highlight { height: 30px; line-height: 1.2em; }
  .handle{
    cursor: move;
  }
  .error
  {
    border: red solid 1px;
  }
  .item-passenger
  {

    .select2-container
    {
      width: 100% !important;
    }
    select.gender
    {
      width: 100%;
      height: 30px;
      border: 1px solid #ccc;
    }
    .select2-container .select2-selection--single
    {
      height: 30px;
      border-color: #ddd;
      border-radius: 0;
      border: 1px solid #ccc;
    }
    .btn
    {
      padding: 0 4px;
      margin-left: 10px;
    }

  }
}

