.html_input_passenger
{
  background: #f6f6f6;
  padding: 10px;
  .person-type
  {
    color: #b42730;
    .travel-icon
    {
      color: #b42730;
    }
  }
  input,select
  {
    width: 80px;
  }
  .ui-state-highlight { height: 30px; line-height: 1.2em; }
  .handle{
    cursor: move;
  }
  .error
  {
    border: red solid 1px;
  }
}