@input_view_bookprivategroup_default_height:30px;
.test
{

}
.view-bookprivategroup-default {
  .html_input_passenger input,.html_build_form_contact input
  {
    height: @input_view_bookprivategroup_default_height;
  }


  h3.passenger-details
  {
    background: #95a5a5;
    padding: 10px;
    color: #fff;
    margin-top: 0px;
  }
  .departure-filter legend
  {
    color: #006964;
    margin-bottom: 0px;
    text-transform: uppercase;
  }


  .content-overview
  {
    .header-content
    {
      .request
      {
        [class^="icon-"], [class*=" icon-"] {
          color: #e49016;
          font-size: 70px;
          margin: 60px;
        }
      }
    }
  }

  .product-name{
    text-align: center;
  }
  fieldset.tour-border {
    border: 1px groove #ddd !important;
    padding:0px !important;
    margin: 0px !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    .noice
    {
      margin: 0 auto;
      text-align: center;
      vertical-align: middle;
      padding-top: 4px;
      font-size: 26px;
      color: #3d5869;
      .icon
      {
      }
    }
  }

  legend.tour-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
    margin-left: 30px;
  }
  .select_number_passenger, .select_date {
    float: left;
    margin-left: 10px;
  }

  .btn-go {
    float: right;
  }
  .departure-item.table {
    border: 1px solid #ccc;
    .body{
      .item .header-item
      {
        background: #006668;
        padding: 10px 0;
        margin-top: -10px;
        color: #fff;
        [class^="icon-"], [class*=" icon-"] {
          color: #fff;
        }

      }
      .item
      {
        .body-item
        {
          padding: 10px 0;
        }
      }
      .item
      {
        padding: 10px 0;
        .header-item
        {
        }
        .body-item
        {
          .note1,.note2{

          }
        }

      }

      span.price
      {
        font-weight: bold;
      }
      .service-class-price
      {
        text-transform: uppercase;
      }
    }
  }
  .form-contact
  {
    background: #f6f6f6;
    padding: 10px;
    margin-top: 30px;
    .title.contact-detail
    {
      text-transform: uppercase;
      color: #8c0000;
      font-weight: bold;
    }
    .control-group
    {
      margin-bottom: 10px;
      .control-label
      {
        text-align: left;
      }
    }
    .emergency-contact
    {
      color: #0072c2;
      padding: 10px 0;
    }
  }
  .rooming legend
  {
    color: #006369;
    margin-bottom: 0px;
    text-transform: uppercase;
  }
  .joint_group_note
  {
    background: #f6f6f6;
    padding: 10px;
    margin-top: 20px;
    .note{
      color: #820004;
    }
  }
  .title.special_requirement
  {
    text-transform: uppercase;
    color: #0267ab;
    font-weight: bold;
    padding: 5px 0px;
  }
  .build-your-room
  {
    text-transform: uppercase;
    color: #0267ab;
    font-weight: bold;
    padding: 5px 0px;

  }
  .area-control
  {
    text-align: center;
    margin: 20px 0 auto;
    .confirm,.hold-my-space
    {
      font-size: 20px;
      text-transform: capitalize;
      font-weight: bold;
    }
    .control-next,.control-hold-my-space
    {
      padding: 10px 50px;
      border-radius: 0;
      background: #9a3334;
      border: none;
    }
    .control-next
    {

    }
  }
  textarea[name="special_requirement"]{
    width: 100%;
    resize: none;
  }
  .booking-summary-content {
    border: 1px solid #ddd;
    .book-and-go {
      background: #01789a none repeat scroll 0 0;
      color: #fff;
      height: 24px;
      padding-left: 18%;
      padding-right: 0;
      padding-top: 25px;
      position: relative;
      width: 82%;
      margin-top: 0;
      &:after {
        border-left: 182px solid transparent;
        border-right: 132px solid transparent;
        border-top: 53px solid #01789a;
        bottom: -53px;
        content: "";
        left: 0;
        position: absolute;
      }

    }
    .booking-summary-content-body{
      padding: 10px;
      .booking-summary {
        margin-top: 50px;
        color: #9c0305;
        background: #eeeeee;
        padding:10px ;
      }
      .detail
      {
        padding: 10px;
        background: #666666;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold ;
      }
      .trip{
        text-transform: uppercase;
        font-weight: bold ;
        .trip-name{
          color: #056796;
        }
      }
      .line-dotted
      {
        height: 2px;
        border-bottom: 2px dotted #ccc;
      }
      .passenger-number
      {
        color: #006599;
        text-transform: uppercase;
        font-weight: bold ;
      }
      .list_passenger,.list_passenger_room
      {
        list-style: decimal;
        margin-left: 50px;
      }
      .passenger-service-fee,.room-service-fee
      {
        text-transform: uppercase;
        font-weight: bold ;
        color: #9c0305;
      }
    }
  }
  .booking-summary-content-mobile
  {
    position: fixed;
    background: #006668;
    opacity: 0.95;
    width: 100%;
    height: 30px;
    padding: 5px;
    color: #fff;
    bottom: 0px;
    .more{
      color: #fff;
    }
  }
  .sidr_booking_summary
  {
    padding: 10px;
    position: relative;
    .close
    {
      position: absolute;
      left: 5px;
      top: 5px;
      color: #fff;

    }
  }
}